@font-face {
  font-family: 'Baskervville';
  src: url('/fonts/baskervville-regular/Baskervville-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Baskervville';
  src: url('/fonts/baskervville-italic/Baskervville-Italic.woff2') format('woff2');

  font-style: italic;
}


@font-face {
    font-family: 'Avara_Bold';
    src:    url('/fonts/avara/Bold/Avara-Bold.eot');
    src:    url('/fonts/avara/Bold/Avara-Bold.eot?#iefix') format('embedded-opentype'),
            url('/fonts/avara/Bold/Avara-Bold.woff') format('woff'),
            url('/fonts/avara/Bold/Avara-Bold.woff2') format('woff2'),
            url('/fonts/avara/Bold/Avara-Bold.ttf') format('truetype'),
            url('/fonts/avara/Bold/Avara-Bold.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avara_Bold Italic';
    src:    url('/fonts/avara/BoldItalic/Avara-Bold_Italic.eot');
    src:    url('/fonts/avara/BoldItalic/Avara-Bold_Italic.eot?#iefix') format('embedded-opentype'),
            url('/fonts/avara/BoldItalic/Avara-Bold_Italic.woff') format('woff'),
            url('/fonts/avara/BoldItalic/Avara-Bold_Italic.woff2') format('woff2'),
            url('/fonts/avara/BoldItalic/Avara-Bold_Italic.ttf') format('truetype'),
            url('/fonts/avara/BoldItalic/Avara-Bold_Italic.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avara_Black';
    src:    url('/fonts/avara/Black/Avara-Black.eot');
    src:    url('/fonts/avara/Black/Avara-Black_web.eot?#iefix') format('embedded-opentype'),
            url('/fonts/avara/Black/Avara-Black_web.woff') format('woff'),
            url('/fonts/avara/Black/Avara-Black_web.woff2') format('woff2'),
            url('/fonts/avara/Black/Avara-Black_web.ttf') format('truetype'),
            url('/fonts/avara/Black/Avara-Black_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "Abordage";
  src: url("/fonts/degheest/Abordage-Regular.woff2") format("woff2"),
    url("/fonts/degheest/Abordage-Regular.woff") format("woff");
}

@font-face {
  font-family: "Basalte-Fond";
  src: url("/fonts/degheest/Basalte-Fond.woff2") format("woff2"),
    url("/fonts/degheest/Basalte-Fond.woff") format("woff");
}

@font-face {
  font-family: "Basalte-Multicolor";
  src: url("/fonts/degheest/Basalte-Multicolor.woff2") format("woff2"),
    url("/fonts/degheest/Basalte-Multicolor.woff") format("woff");
}

@font-face {
  font-family: "Basalte-Volume";
  src: url("/fonts/degheest/Basalte-Volume.woff2") format("woff2"),
    url("/fonts/degheest/Basalte-Volume.woff") format("woff");
}

@font-face {
  font-family: "Director";
  src: url("/fonts/degheest/Director-Regular.woff2") format("woff2"),
    url("/fonts/degheest/Director-Regular.woff") format("woff");
}

@font-face {
  font-family: "Director";
  src: url("/fonts/degheest/Director-Light.woff2") format("woff2"),
    url("/fonts/degheest/Director-Light.woff") format("woff");

  font-weight: 100;
}

@font-face {
  font-family: "Director";
  src: url("/fonts/degheest/Director-Bold.woff2") format("woff2"),
    url("/fonts/degheest/Director-Bold.woff") format("woff");

  font-weight: bold;
}

@font-face {
  font-family: "Equateur";
  src: url("/fonts/degheest/Equateur-Regular.woff2") format("woff2"),
    url("/fonts/degheest/Equateur-Regular.woff") format("woff");
}

@font-face {
  font-family: "FT88-Regular";
  src: url("/fonts/degheest/FT88-Regular.woff2") format("woff2"),
    url("/fonts/degheest/FT88-Regular.woff") format("woff");
}

@font-face {
  font-family: "FT88-Expanded";
  src: url("/fonts/degheest/FT88-Expanded.woff2") format("woff2"),
    url("/fonts/degheest/FT88-Expanded.woff") format("woff");
}

@font-face {
  font-family: "FT88-Gothique";
  src: url("/fonts/degheest/FT88-Gothique.woff2") format("woff2"),
    url("/fonts/degheest/FT88-Gothique.woff") format("woff");
}

@font-face {
  font-family: "FT88-Italic";
  src: url("/fonts/degheest/FT88-Italic.woff2") format("woff2"),
    url("/fonts/degheest/FT88-Italic.woff") format("woff");
}

@font-face {
  font-family: "FT88-School";
  src: url("/fonts/degheest/FT88-School.woff2") format("woff2"),
    url("/fonts/degheest/FT88-School.woff") format("woff");
}

@font-face {
  font-family: "FT88-Serif";
  src: url("/fonts/degheest/FT88-Serif.woff2") format("woff2"),
    url("/fonts/degheest/FT88-Serif.woff") format("woff");
}

@font-face {
  font-family: "Latitude";
  src: url("/fonts/degheest/Latitude-Regular.woff2") format("woff2"),
    url("/fonts/degheest/Latitude-Regular.woff") format("woff");
}

@font-face {
  font-family: "Louise";
  src: url("/fonts/degheest/Louise-Regular.woff2") format("woff2"),
    url("/fonts/degheest/Louise-Regular.woff") format("woff");
}

