:root {
  /*
  --bg: white;
  --fg: black;
  --accent: yellow;
  */
  --bg: whitesmoke; 
  --fg: rgb(0, 0, 9);
  --accent: rgb(255, 251, 0);


  --font: Baskervville, serif;
  --font-heading: var(--font);
  --font-accent: Louise, serif;

  --font-size: clamp(1.0rem, 3vw, 3.75rem);
  --line-height: 1.3em;
  --letter-spacing: 0.01em;

  --paragraph-width: 50ch;
  --work-paragraph-width: 60ch;

  --max-partial-preview-height: 12em;
  --max-page-width: 100vw;

  --edge-padding: min(0.75em, 30px);
  --top-padding: var(--edge-padding);

  --gap: 0.5em;
  --grid-columns: 6;

  --scroll-shadow: 0px 0px 0.1em 0.1em var(--bg);
  --text-shadow: 0px 0px 0.15em var(--fg);

  --transition-time: 0.3s;

  --mobile-breakpoint: 500px;

  --view-transition-filter: blur(8px) brightness(80%) contrast(150%);
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  gap: var(--gap);
}

.full-width {
  grid-column: span var(--grid-columns);
}

a {
  all: unset;
}

button {
  all: unset;
}

button {
  background-color: unset;
  border: unset;
}

*, *::before, *::after {
	box-sizing: border-box;
}

html {
  font-size: var(--font-size);

  scroll-behavior: smooth;
  background-color: var(--bg);
}

body {
  position: relative;

	min-height: 100vh;
	margin: 0;

  font-family: var(--font);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);

  background-color: var(--bg);
  color: var(--fg);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

button, a {
  cursor: pointer;
}

.clickable {
  font-style: italic;
}

.clickable:active {
  background-color: var(--accent);
  font-family: var(--font-accent);
  font-style: normal;
}

.neutral-clickable:active {
  background-color: var(--accent);
}

@media (hover: hover) and (pointer: fine) {
  .clickable:hover {
    background-color: var(--accent);
    font-family: var(--font-accent);
    font-style: normal;
  }

  .neutral-clickable:hover {
    background-color: var(--accent);
  }
}

.clickable.active, .neutral-clickable.active {
  text-shadow: var(--text-shadow);
}

.clickable::before {
  content: "[ ";
}

.clickable::after {
  content: " ]";
}

.clickable::before, .clickable::after {
  font-style: normal;
  white-space: nowrap;
}

hr {
  position: relative;
  overflow: visible;
  width: 100%;
  margin-bottom: 2.0em;
  border: none;
  border-bottom: 1px solid var(--fg);
  text-align: center;
}

hr::after {
  content: "§§§";
  display: inline-block;
  position: relative;
  top: 0.5em;
  padding: 0 0.25em;
  background-color: var(--bg);
  font-family: var(--font-accent);
}

@keyframes pulse-color {
  from {
    color: var(--fg);
  }

  to {
    color: var(--bg);
  }
}

@keyframes pulse-opacity {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}