:root {
  --bg: whitesmoke;
  --fg: black;
  --accent: yellow;

  --font: Baskervville, serif;
  --font-heading: var(--font);

  --font-size: clamp(1.0rem, 3vw, 1.5rem);
  --paragraph-width: 60ch;
  --line-height: 1.3em;
  --letter-spacing: 0.01em;

  --max-partial-preview-height: 300px;

  --edge-padding: 0.5em;
  --top-padding: var(--edge-padding);

  --gap: 0.5em;
  --grid-columns: 6;

  --scroll-shadow: 0px 0px 0.1em 0.1em var(--bg);
  --text-shadow: 0px 0px 0.15em var(--fg);

  --transition-time: 0.3s;

  --mobile-breakpoint: 500px;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  gap: var(--gap);
}

.full-width {
  grid-column: span var(--grid-columns);
}

a {
  all: unset;
}

button {
  all: unset;
}

button {
  background-color: unset;
  border: unset;
}

*, *::before, *::after {
	box-sizing: border-box;
}

html {
  font-size: var(--font-size);

  scroll-behavior: smooth;
}

body {
  position: relative;

	min-height: 100vh;
	margin: 0;

  font-family: var(--font);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);

  background-color: var(--bg);
  color: var(--fg);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

button, a, .action {
  cursor: pointer;
}

.action {
  text-shadow: 0px 0px 0px var(--bg);
  transition: var(--transition-time);
}

.action:hover {
  text-shadow: var(--text-shadow);
}

.clickable {
  font-style: italic;
}

.clickable:hover {
  background-color: var(--accent);
}

.clickable.active, .neutral-clickable.active {
  text-shadow: var(--text-shadow);
  /*
  text-decoration: underline;
  */
}

.clickable::before {
  content: "[ ";
  font-style: normal;
  white-space: nowrap;
}

.clickable::after {
  content: " ]";
  font-style: normal;
  white-space: nowrap;
}