:root {
  --bg: white;
  --fg: black;

  --font: serif;
  --font-heading: monospace;
}

*, *::before, *::after {
	box-sizing: border-box;
}

a {
  all: unset;
}

body {
	min-height: 100vh;
	margin: 0;

  font-family: var(--font);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);

  font-size: 2em;
  font-style: italic;
}

a:hover {
  pointer-events: all;
  cursor: pointer;
}