.markdown {
  width: 100%;
}

.markdown > * {
  grid-column: span var(--grid-columns); 
}

.markdown ul {
  list-style: circle;
}

.markdown ul li {
  list-style-position: outside;
  max-width: var(--paragraph-width);
  margin-left: 1.2em;
  padding-bottom: 0.2em;
}

.markdown img {
  width: 100%;
  max-width: 1000px;

  object-fit: cover;

  padding: 1em 0em;
}

@media screen and (min-width: 500px) {
  .markdown img {
    padding: 1em;
  }
}

.markdown p {
  max-width: var(--paragraph-width);
  padding-bottom: 0.0em;
}

.markdown em {
  font-style: italic;
}

.markdown h1, .markdown h2, .markdown h3 {
  text-transform: uppercase;
  padding-top: 1em;
}

.markdown hr + h1, .markdown hr + h2, .markdown hr + h3,
.markdown h1:first-child, .markdown h2:first-child, .markdown h3:first-child {
  padding-top: 0em;
}

.markdown strong {
  font-style: italic;
  font-weight: bold;
}

.markdown figcaption {
  counter-increment: figure;
  font-size: 0.75em;
  font-style: italic;
  margin-top: -0.5em;
}

.markdown figcaption::before {
  content: "Fig." counter(figure) " - ";
}

.markdown pre {
  white-space: pre-wrap;
  line-height: 1.2em;
}